<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Tu Articulo ha sido creado satisfactoriamente a nombre de:
      <%= @user.email %>.<br/>
    </p>
    <p>
      Recuerda visitarnos en: <a href="<%= @url %>">https://young-shore-56554.herokuapp.com</a>
    </p>
    <p> Esperamos que sigas publicando tus articulos </p>
    <p> Hasta La Próxima</p>
  </body>
</html>