.panel{
 background-color: #5960b6; 
}

body 
{ 
  color: #fff;
  background-image:url(http://sociedadespacionaturaleza.files.wordpress.com/2012/05/collage-ciudades.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

