html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}


.btn{
	background-color: inherit;
	border: solid;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.1em;
}

.botton-blue{
	color: #6591d8!important ;
}

a,a:visited{
	color: inherit ;
	text-decoration: none;
}


#logo{
	font-size: 1.4em;
}
.no-margin{
	margin: 0px;
}
.be-green{
	background-color: #00B900;
}

.be-blue{
	color: #5960b6;
}



.large-padding{
	padding: 10px 7px;
}

.field{
	margin-top: 80px;
}

.small{
	width: 4px ;
	height: 4px ;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

