html,body{
	margin: 0px;
	font-family: 'Lobster', cursive;
}

.btn{
	background-color: inherit;
	border: solid;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.1em;
}

a,a:visited{
	color: inherit ;
	text-decoration: none;
}


#logo{
	font-size: 1.4em;
}
.no-margin{
	margin: 0px;
}
.be-green{
	background-color: #3DE26A;
}

.be-blue{
	color: #177CC2;
}

.botton-blue{
	color: #1A3AA6;
}

.large-padding{
	padding: 10px 7px;
}

.field{
	margin-top: 1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

